@model TvrtkaVm

<h2>Nova tvrtka</h2>

<form method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label>Naziv</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <button type="submit">Spremi</button>
    <a asp-action="Index">Nazad</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}