@model LokacijaVm

<h2>Uredi Lokaciju</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <div>
        <label>Naziv</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <button type="submit">Spremi</button>
    <a asp-action="Index">Nazad</a>

    <div asp-validation-summary="All"></div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}